<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <title>{% block titre %}Titre par défaut{% endblock %}</title>
    </head>

    <body>

      <div class="row">
          <div class="col-md-5 col-md-offset-2"></div>
          <div class="col-md-5 col-md-offset-2">
        {% block corps %}{% endblock %}
          </div>
      </div>

    </body>
</html>
